body, html {
    height: 100%;
    margin: 0;
}

.parallax {
    /* The image used */
    background-image: url('https://i.imgur.com/JJ07i7o.png');

    /* Full height */
    height: 25%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120%;
}

.parallax-pepe {
    /* The image used */
    background-image: url('https://i.imgur.com/3PkLWL6.gif');

    /* Full height */
    height: 25%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 400px;
}

.parallax-padoru {
    /* The image used */
    background-image: url('https://i.imgur.com/VWpTe00.gif');

    /* Full height */
    height: 25%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 200px;
}

.parallax-clubpenguin {
    /* The image used */
    background-image: url('https://i.imgur.com/Jf93yK3.gif');

    /* Full height */
    height: 25%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 200px;
}

.caption {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.caption span.border {
    background-color: dimgray;
    color: white;
    padding: 24px;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    letter-spacing: 12px;
    word-spacing: 4px;
}