/* Table of Contents*/
ol.ToC{
    border: 2px solid white;
    max-width: fit-content;
    margin: 10px;
    padding: 40px;
}

/* Table of Contents elements */
li.ToC{
    color: white;
}

/* Table of Contents links */
ol.ToC li a{
    color: lightblue;
}

/* API Segments */
ol.API div{
    border: 2px solid white;
    max-width: fit-content;
    padding: 20px;
    margin: 10px;
}

/* API Code Segments */
ol.API div code{
    font-size: 25px;
}

/* API Function Grouping */
ol.API li{
    color: aquamarine;
}

/* API Parameter Descriptions */
ol.API div ul li{
    color: aquamarine;
}

/* API Parameter sub-listing */
ol.API div ul.gold li{
    color: gold;
    font-size: 75%
}

/* API Comments */
span.API{
    color: lightgreen;
    border: 0;
}

/* API Footer Reference Links */
footer a{
    color: white;
}